<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-permissions-contacts" version="1.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Plugin Permissions</name>
    <author>Andreas Jacob (http://cordobo.com/)</author>
    <description>Cordova / PhoneGap Plugin Permission Settings</description>
    <keywords></keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
        </engines>
        <platform name="ios">
          
            <preference name="CONTACTS_USAGE_DESCRIPTION" default="QUiZLiPS needs a few contact details to match you with your friends" />
            <config-file target="*-Info.plist" parent="NSContactsUsageDescription">
              <string>$CONTACTS_USAGE_DESCRIPTION</string>
            </config-file> 
            
            
            
            
                        
        </platform>
    
    </plugin>
